/* General Styles */
body {
  font-family: "Libre Franklin", serif;
}
/* Top Bar  */
.top-bar {
  background-color: #0075ff;
}
.icons-size {
  height: 36px;
}
/* Nav Bar  */
.nav-bar {
  background-color: #051229;
  border-bottom: 1px solid #27354d;
}
.nav-item a {
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.text-primary-color {
  color: #0075ff !important;
}
.arrow-icon-style {
  width: 24px;
  height: 24px;
  background-color: #0075ff;
}
/* Hero Section */
.hero-section {
  background-color: #051229;
  color: white;
  position: relative;
  display: inline-block;
  padding: 30px 60px 0px 60px;
  border-radius: 0;
  overflow: hidden;
}
.hero-section:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  border: 2px solid #051229;
  border-radius: 80%;
  border-bottom: none;
}
.hero-title {
  font-size: 3rem;
  font-weight: bold;
}
.hero-subtitle {
  font-size: 1rem;
  margin-top: 15px;
}
.hero-button {
  margin-top: 20px;
}
.play-video {
  position: absolute;
  top: 52%;
  left: 21%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.shape-2-position {
  bottom: 100px;
  left: 40%;
}
.scroll-indicator {
  position: absolute;
  left: 20px;
  bottom: 40px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #ddd;
  border: 1px solid #27354d;
  border-radius: 50px;
  padding: 20px 5px;
}
.scroll-indicator img {
  width: 18px;
  height: 18px;
}
/* Feature Card */
.title-dot-style {
  width: 4px;
  height: 4px;
  background-color: #0075ff;
}
.feature-card {
  border: 1px solid #ced7e0;
  padding: 20px 20px 0px 20px;
  transition: box-shadow 0.3s ease;
  height: 100%;
}
.feature-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.feature-icon {
  font-size: 40px;
  margin-bottom: 15px;
}
.feature-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.feature-description {
  font-size: 0.9rem;
  color: #6c757d;
}
.round-div {
  border-radius: 0 0 25% 0;
}
/* Stats Section */
.stats-container {
  background-color: #f7f7f7;
}
.stat-item {
  position: relative;
  text-align: center;
  border-right: 1px solid #ced7e0;
  padding-bottom: 15px;
}
.stat-item:last-child {
  border-right: none;
}
.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #051229;
}
.stat-text {
  font-size: 1rem;
  color: #364052;
  line-height: 0;
  margin-top: 2px;
}
.stat-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  height: 8px;
  width: 8px;
  border: 2px solid #0075ff;
  border-radius: 50%;
}
.stat-item:last-child::after {
  display: none;
}
/* Skill Banner Section */
.banner-section {
  position: relative;
  height: 100vh;
  background: url("../images/skill_bg.png") no-repeat center center/cover;
}
.overlay-content {
  background: rgba(1, 1, 1, 0.1);
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 525px;
  position: absolute;
  left: 50%;
  top: 30%;
  backdrop-filter: blur(10px);
}
.skill-subtitle {
  color: #a9b0b8;
}
/* Progress Container */
.progress-container {
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  width: 100%;
  max-width: 600px;
}
.progress-title {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.progress-bar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}
.progress-bar {
  flex: 1;
  height: 8px;
  background-color: #e1e8f0;
  position: relative;
  overflow: visible !important;
}
.progress-fill {
  height: 100%;
  width: 90%;
  background-color: #0075ff;
  position: relative;
  z-index: 0;
}
.progress-dot {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  background-color: white;
  border: 4px solid #0075ff;
  border-radius: 50%;
  z-index: 1;
}
.progress-label {
  font-size: 0.9rem;
  color: white;
  background-color: #0075ff;
  padding: 2px 6px;
  border-radius: 4px;
  position: absolute;
  left: 90%;
  top: -20px;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 0.875rem;
  }
  .play-video {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    top: 56%;
    left: 26%;
  }
  .feature-card {
    padding: 15px;
  }
  .responsive-image {
    width: 100% !important;
  }
  .header-title {
    font-size: 20px !important;
  }
  .challenge-image2 {
    top: -12% !important;
  }
  .service-mobile-card {
    width: 100% !important;
  }
  .service-mobile-card img {
    width: 100%;
  }
  .service-responsive-icon {
    width: 40% !important;
  }
  .stat-item:nth-child(2)::after {
    display: none;
  }
  .stat-item {
    text-align: center;
    margin-bottom: 20px;
  }
  .overlay-content h3 {
    font-size: 36px;
  }
  .stat-number {
    font-size: 24px;
  }
  .stat-text {
    font-size: 16px;
  }
  .banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay-content {
    background: rgba(1, 1, 1, 0.1);
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 525px;
    position: unset;
    left: unset;
    top: unset;
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 20px;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-subtitle {
    font-size: 0.75rem;
  }
  .responsive-image {
    width: 100%;
  }
  .header-title {
    font-size: 20px !important;
  }
  .challenge-image2 {
    top: -12% !important;
  }
  .service-mobile-card {
    width: 100% !important;
  }
  .service-mobile-card img {
    width: 100%;
  }
  .service-responsive-icon {
    width: 40% !important;
  }
  .scroll-indicator {
    font-size: 0.625rem;
    padding: 10px 5px;
  }
  .banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay-content {
    background: rgba(1, 1, 1, 0.1);
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 525px;
    position: unset;
    left: unset;
    top: unset;
    backdrop-filter: blur(10px);
  }
  .stat-item {
    text-align: center;
    margin-bottom: 20px;
  }
  .overlay-content h3 {
    font-size: 36px;
  }
  .stat-number {
    font-size: 24px;
  }
  .stat-text {
    font-size: 16px;
  }
}
