/* General Styles */
body {
  font-family: "Libre Franklin", serif;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hero Section */
.hero-section {
  background-color: #051229;
  color: white;
  position: relative;
  display: inline-block;
  padding: 30px 60px 0px 60px;
  border-radius: 0;
  overflow: hidden;
}
.hero-section:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  border: 2px solid #051229;
  border-radius: 80%;
  border-bottom: none;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}
.hero-subtitle {
  font-size: 1rem;
  margin-top: 15px;
}
.hero-button {
  margin-top: 20px;
}

.play-video {
  position: absolute;
  top: 52%;
  left: 21%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* Scroll Indicator */
.scroll-indicator {
  position: absolute;
  left: 20px;
  bottom: 40px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #ddd;
  border: 1px solid #27354d;
  border-radius: 50px;
  padding: 20px 5px;
}

/* Feature Card */
.feature-card {
  border: 1px solid #ced7e0;
  padding: 20px 20px 0px 20px;
  transition: box-shadow 0.3s ease;
  height: 100%;
}
.feature-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.feature-icon {
  font-size: 40px;
  margin-bottom: 15px;
}
.feature-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.feature-description {
  font-size: 0.9rem;
  color: #6c757d;
}
.round-div {
  border-radius: 0 0 25% 0;
}
/* Stats Section */
.stats-container {
  background-color: #f7f7f7;
}
.stat-item {
  position: relative;
  text-align: center;
  border-right: 1px solid #ced7e0;
  padding-bottom: 15px;
}
.stat-item:last-child {
  border-right: none;
}
.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #051229;
}
.stat-text {
  font-size: 1rem;
  color: #364052;
  line-height: 0;
  margin-top: 2px;
}
.stat-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  height: 8px;
  width: 8px;
  border: 2px solid #0075ff;
  border-radius: 50%;
}
.stat-item:last-child::after {
  display: none;
}
/* Banner Section */
.banner-section {
  position: relative;
  height: 100vh;
  background: url("/images/skill_bg.png") no-repeat center center/cover;
}
.overlay-content {
  background: rgba(1, 1, 1, 0.1);
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 525px;
  position: absolute;
  left: 50%;
  top: 30%;
  backdrop-filter: blur(10px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 0.875rem;
  }
  .play-video {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    top: 56%;
    left: 26%;
  }
  .feature-card {
    padding: 15px;
  }
  .responsive-image {
    width: 100% !important;
  }
  .challenge-title {
    font-size: 20px !important;
  }
  .challenge-image2 {
    top: -12% !important;
  }
  .stat-number {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 20px;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-subtitle {
    font-size: 0.75rem;
  }
  .responsive-image {
    width: 100%;
  }
  .challenge-title {
    font-size: 20px !important;
  }
  .challenge-image2 {
    top: -12% !important;
  }
  .scroll-indicator {
    font-size: 0.625rem;
    padding: 10px 5px;
  }
}
